dist/*
cdktf.out
cdktf.log
terraform.*
tsconfig.tsbuildinfo
config.json
.gen

# Editor / IDE files
/.idea
/.idea/*
.vscode

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules
package-lock.json

# Optional eslint cache
.eslintcache

.DS_Store
